  .work h1{
    font-size: 10rem;
    color: #707070;
    z-index: 0;
    opacity: .1;
    text-align: left;
  }
 

  @media only screen 
  and (min-device-width : 375px) 
  and (max-device-width : 812px)
  and (-webkit-device-pixel-ratio : 3) { 

    .work h1{
      font-size: 5rem;
      text-align: center;
      margin-bottom: 50px;
    }
    .work{
      margin-top: 100px;
    }
  }