 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
     background-color: #24252A;
  }


.container{
    display: grid;
}

 /* @media (max-width: 770px){
    .container{
        margin: 0 5%;
    }
}  */