body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

span.myButton{
  padding: 4px 4px 9px 3px;
}
.myButton {
  border-radius: 8px;
  border-style: double;
  border-width: thin;
  margin: 0.25em;
  padding: 5px 3px 5px 3px;
}

.outbound{
  color: black;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.header{
  float: left;
}

  .headerLanding {
    font-family: 'McLaren', cursive;
    font-size: 4em;
    text-align: right;
    line-height: 100%;
    margin-bottom: 0em;
    margin-top: 0em;
    width: 5em;
    color:black;
}
/* .icons{
  margin: 2em;
  display: inline-block;
} */

.contact-info{
  margin-bottom: 4em;
  margin-left: 2em;
}
.icons{
 margin-left: 1em;
float: left;
} 

.Menu{
  margin-left: 1em;
}

ul{
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a.aTagLinks{
font-family: 'McLaren', cursive;
font-size: 1.15em;
float:initial;
}
.ContactInfolist{
  font-family: 'McLaren', cursive;
  font-size: 1.15em;
text-align: center;

}


.aTagLinks:visited{
  text-decoration: none;
color: black;
}

a.aTagLinksInstagram{
  color: black;
  text-decoration: none;
  font-family: 'McLaren', cursive;
font-size: 1.15em;
}
@media only screen and (max-width: 40em){
  .headerLanding {
    font-size: 2.5em;
    text-align: center;
    line-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

.header {
    float: none;
    margin-left: 0;
    margin-top: 1em;
}

.Menu {
  float: none;
  margin-left: 1em; 

  text-align: center;
}

div.icons{
  margin-left: 1em; 
  margin: -14px 5px 5px 40px;
  }
}
  /* margin-left: 0em;
  margin-top: 2em;


.links {
  margin: 2em auto 0 auto;
}

}
/* ######################End of Screen */

div.card-title{
  font-family: 'McLaren', cursive;
  text-align: center;
}









/* Small screens */
@media only screen {
}

.Footerdiv{
  background-color:black;
  text-decoration-color: #EAEAEA;
  font-family: 'McLaren', cursive;
  position: fixed;
  bottom:0;
  width:  100%;
}
.Navbardiv{
  width:  100%;
}
.third{
  width: 33.33333%;
  float: left;
}
.centerNav{
  margin-right: auto;
  margin-left: auto;
}
.textNav{
  text-transform: uppercase;
  text-align: center;
  font-size: .875rem;

}
a.f6{
  opacity: 1;
 color:white;
}
@media screen and (min-width: 30em){ 
.w-50-ns {
    width: 50%;
}

}


@media screen and (min-width: 30em){ 
.db-ns {
    display: block;
}
}

h3{
  font-family: 'McLaren', cursive;
  color: #95824d;
}

.header-bar {
align-content: center;
  margin: 25px 0 25px 0;
  width: 100%;
  height: 4px;
  background: #444649;

}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.portfolio-header{
 text-align: center;
}

.PortfolioImage{
  width: 200px;
  height:200px;
}
a.nav-link{
  font-family: 'McLaren', cursive;
}
.AboutImage{
  padding: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,.125);
  border-radius: 50%;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contacttext{
  text-align: center;
  font-size: 16px;
  font-family: 'McLaren', cursive;
}
.PortfolioButton{
justify-content: center;
}


hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}
.ContactSection{
  align-items: center;
}
.contactheading{
  text-align: center;
  text-transform: uppercase;
  text-decoration-line: underline;
  font-family: 'McLaren', cursive;
}

/* .header{
  border: 1px solid red;
}
.Menu{
  border: 10px solid green;
}
.jumbotron{

  border: 10px solid blue;
} */


.jumbotron{
background-color: white;
background-size: cover;

}